RAKUTEN__API__JWT_ALGORITHM=  # the name of the algorithm, e.g. "HS256"
RAKUTEN__API__JWT_SECRET=  # a string, can be generated with : openssl rand -base64 32
RAKUTEN__API__JWT_EXPIRATION_IN_MINUTES=  # Duration of the token validity in minutes, e.g. 60
RAKUTEN__API__INFERENCE_HOST=  # the container's name of the inference service
RAKUTEN__API__INFERENCE_PORT=  # the inference container's port used by the API to send requests
RAKUTEN__API__DATABASE_HOST=  # the container's name of the database service, used to build a connection string
RAKUTEN__API__DATABASE_PORT=  # the database container's port, used to build a connection string
RAKUTEN__API__DATABASE_NAME=  # the database name, used to build a connection string
RAKUTEN__API__DATABASE_USER=  # the database API user, used to build a connection string
RAKUTEN__API__DATABASE_PASSWORD=  # the database API password, used to build a connection string
RAKUTEN__API__MLFLOW_HOST=  # the container's name of the mflow service
RAKUTEN__API__MLFLOW_PORT=  # the container's port exposed by the mlflow service


RAKUTEN__DATABASE__NAME=  # the container's name of the database service
RAKUTEN__DATABASE__USER=  # the sudo user of the database service
RAKUTEN__DATABASE__PASSWORD=  # the sudo password of the database service


RAKUTEN__INFERENCE__PORT=  # the container's port exposed by the inference service
RAKUTEN__INFERENCE__MLFLOW_HOST=  # the container's name of the mflow service
RAKUTEN__INFERENCE__MLFLOW_PORT=  # the container's port exposed by the mlflow service
RAKUTEN__INFERENCE__MLFLOW_MODEL_NAME=  # the model as <name>/<version> that should be loaded on start up by the inference service


RAKUTEN__GRAFANA__USER=  # the user name for grafana login
RAKUTEN__GRAFANA__PASSWORD=  # the password for grafana login
RAKUTEN__GRAFANA__SMTP_HOST=  # host of the mail provider (e.g. smpt.gmail.com:587)
RAKUTEN__GRAFANA__SMTP_USER=  # user of the mail provider
RAKUTEN__GRAFANA__SMTP_PASSWORD=  # password of the mail provider
RAKUTEN__GRAFANA__SMTP_FROM_ADDRESS=  # mail adress of the alert sender
RAKUTEN__GRAFANA__ALERTING_EMAIL_PRIMARY=  # main receiver of the alerts
RAKUTEN__GRAFANA__ALERTING_EMAIL_SECONDARY=  # second receiver of the alerts



########### Used for training jobs
MLFLOW_TRACKING_URI="http://localhost:5001"
